<!-- ******BLOG****** -->
<div class="blog-entry-wrapper">
    <!--
    <div class="blog-headline-bg">
    </div><!--//blog-headline-bg-->
    <div class="blog-entry">
        <article class="post">
            <header class="blog-entry-heading ciencia">
                <div class="container text-center">
                    <h2 class="title">Ciencias, Tecnología e Innovación</h2>

                    <div class="meta">
                        <ul class="meta-list list-inline">
                            <li class="post-time">El 5 de mayo 2018 a las 9 a.m. en el</li>
                            <li class="post-author"><a href="http://consulmex.sre.gob.mx/raleigh/" target="_blank"> Consulado
                                Mexicano en Raleigh</a></li>
                        </ul>
                    </div>
                    <!--meta-->
                </div>
                <!--//container-->
            </header>
            <!--//blog-entry-heading-->

            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <h3 class="section-heading">Objetivo:</h3>

                        <p>Este pilar tiene por objetivo promover, exponer y difundir las diferentes disciplinas de
                            tecnología y las ciencias exactas (matemáticas, ingeniería, ciencias naturales, etc)
                            mediante el enlace de actividades o expertos altamente calificados y la población mexicana
                            residente principalmente en Carolina del Norte.</p>

                        <p>Este pilar se alinea perfectamente con los intereses a nivel nacional en Estados Unidos en
                            materia de educación para promover los programas STEM (Science, Tecnology, Engineering, and
                            Mathematics – Ciencia, Tecnología, Ingeniería y Matemáticas), tal y como lo ha mencionado el
                            presidente Obama: “El liderazgo de mañana depende de cómo eduquemos nuestros estudiantes
                            ahora – especialmente en Ciencia, Tecnología, Ingeniería y Matemáticas”. Y resulta aún más
                            importante cuando se estima que para entre el 2010-2020 se incrementará en 17% la demanda de
                            personal que domine estas disciplina y que en la actualidad no hay suficientes estudiantes
                            que pudieran cumplir con dicha demanda, lo cual sin duda representa un área de oportunidad
                            para la comunidad mexicana que reside en los Estados Unidos. (adaptado de: <a
                                    href="http://www2.ed.gov/about/inits/list/hispanic-initiative/stem-factsheet.pdf">Hispanics
                                and STEM EDUCATION</a>).</p>

                        <h3 class="section-heading">Acciones:</h3>

                        <p>La Red GlobalMX capítulo Raleigh ha definido una serie de acciones y actividades a corto y
                            mediano plazo que promoverán las disciplinas del STEM entre la comunidad mexicana. Entre las
                            más importantes destacan:</p>
                        <ul>
                            <li> Día de la Ciencia y la Tecnología. Para más información <a href="#/diadelaciencia">presiona
                                aquí</a>.
                            </li>
                            <li>Red de mentores.” 1,000 Dreamers – 1,000 Leaders” es un programa que busca empoderar a
                                la población de Dreamers (Soñadores) en los EUA y en México a través de mentoría
                                personalizada, entrenamiento en “soft skills” y oportunidades de “networking”. Para más
                                información consulta la liga
                                (<a href="http://www.usmexicofound.org/programs/1000-dreamers-1000-leaders/">1,000
                                    Dreamers-1,000 Leaders</a>)
                            </li>
                            <li>Proyecto México. Desde 1987, la Facultad de Odontología de la Universidad de Carolina
                                del Norte en Chapel Hill envía estudiantes de odontología al orfanato “Nuestros Pequeños
                                Hermanos” en Miacatlán, México, con el objetivo de proporcionar educación para la salud
                                y para asistir en la prestación de atención dental básica y nutricional. Para los
                                estudiantes de UNC es una experiencia que les acerca con la sociedad mexicana y que
                                además regresan con el compromiso de brindar atención futura a las comunidades
                                marginadas y aprender a hablar español. Para más información del proyecto, <a
                                        href="#/proyectomexico">consulte esta
                                    liga.</a>
                            </li>
                            <li>Enlaces para mexicanos para prácticas profesionales, estudios de posgrado y
                                oportunidades de empleo tanto en la academia como en la industria.
                                <ul>
                                    <li>
                                        <a href="http://conacytprensa.mx/index.php/sociedad/convocatorias/6823-abierta-la-convocatoria-programa-de-becas-mixtas-para-programas-de-especialidad-medica?utm_source=newsletter_3191&utm_medium=email&utm_campaign=abierta-la-convocatoria-programa-de-becas-mixtas-para-programas-de-especialidad-medica">
                                            <i class="fa fa-external-link"></i> Convocatoria Programa de Becas Mixtas para Programas de Especialidad Médica.</a></li>

                                </ul>
                            </li>
                        </ul>
                        <p class="source">
                            Para mayores informes, contáctanos a:<br/>
                            Email: <a href="mailto:mcolin@sre.gob.mx">mcolin@sre.gob.mx</a><br/>
                            Teléfono: <a href="phoneto:9196153656">9196153656</a>
                        </p>
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/blog/BayerFotos.png"
                                 alt="Niñas haciendo un experimento"/>
                            <figcaption class="figure-caption">Evento pasado. Foto donada por Bayer Crop</figcaption>
                        </figure>

                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/background/bayer-07.jpg"
                                 alt="Niñas haciendo un experimento"/>
                            <figcaption class="figure-caption">Evento pasado. Foto donada por Bayer Crop</figcaption>
                        </figure>
                        <blockquote class="custom-quote">

                            <p>Para mayores informes contáctanos a:<br/>
                                Correo electrónico: <a href="mailto:mcolin@sre.gob.mx">mcolin@sre.gob.mx</a><br/>
                                Teléfono: <a href="tel:+19196153656">9196153656</a></p>

                        </blockquote>
                    </div>
                    <!--//blog-entry-content-->

                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </article>
        <!--//post-->
    </div>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->




