<!-- ******BLOG****** -->
<div class="bg-slider-wrapper">
    <!--div class="flexslider bg-slider" -->
        <ul class="slides">
            <li>
                <img src="assets/images/becared-ncshp/becared_header_big2.png" align="bottom"/>
            </li>
        </ul>
    <!--/div-->
</div>
<section class="promo section section-on-bg" style="height:390px">
    <div class="container text-center">
        <p class="intro"><i> ... Una inversión en conocimiento paga el mejor interés ...</i></p>
        <h2 class="title"><font color="red">Proyecto Beca Red-Raleigh-NCSHP</font></h2>
        <!--<p><a class="btn btn-cta btn-cta-primary" href="signup.html">Comunícate con nosotros</a></p>-->
    </div>
</section><!--//promo-->
<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <div class="row item">
                        <p class="intro"><i> ... Una inversión en conocimiento paga el mejor interés ... -Benjamin Franklin </i></p>
                <div class="content col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <div>
                    <div class="text-left col-md-6 col-sm-6 col-xs-12">
                        <p>La Red Global MX capítulo Raleigh se enorgullece en patrocinar en colaboración con la <a href="http://thencshp.org/" target="_blank">Sociedad de Profesionistas Hispanos de Carolina del Norte (NCSHP)</a> una beca monetaria para un estudiante de preparatoria mexicano con deseos de continuar sus estudios universitarios.</p>

                        <p>Dicha beca consiste en la cantidad de 1,000 dólares que la Red Global MX capítulo Raleigh entrega a la Sociedad de Profesionistas Hispanos de NC para que ésta la canalice a través del "<a href="http://thencshp.org/programs/nc-hispanic-college-fund/" target="_blank">North Carolina Hispanic College Fund"</a> y sea entregada a un estudiante mexicano para el ciclo escolar 2019-2020.</p>

                        <img class="img-responsive" src="assets/images/becared-ncshp/scholarship.png" align="right"/>
                
                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                    </div>
                    </div>
                    <!--//blog-entry-content-->

                </div>
                <!--//row-->
            </div>
            <!--//container-->
        <!--//post-->
        </div>
    </section>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>