<!-- ******BLOG****** -->
<div class="bg-slider-wrapper">
    <!--div class="flexslider bg-slider"-->
        <ul class="slides">
            <li>
                <img src="assets/images/ciudadeshermanas/celaya_banner.png"/>
            </li>
            <li>
                <img src="assets/images/ciudadeshermanas/durham_banner.png"/>
            </li>
        </ul>
    <!--/div-->
</div>
<section class="promo section section-on-bg" style="height:430px">
    <div class="container text-center">
        <h2 class="title">Proyecto Ciudades Hermanas</h2>
        <p class="intro"><i> ...iniciativa Celaya-Durham...</i></p>
        <!--<p><a class="btn btn-cta btn-cta-primary" href="signup.html">Comunícate con nosotros</a></p>-->
    </div>
</section><!--//promo-->
<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <div class="row item">
                <div class="content col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <div>
                    <div class="text-left col-md-6 col-sm-6 col-xs-12">
                        <p>El Proyecto de la Red Global de “Ciudades Hermanas” se encuentra buscando el hermanamiento entre el Municipio de Celaya, Guanajuato, México y la Ciudad de Durham en Carolina del Norte.</p>

                        <p>La Red Global MX capítulo Raleigh respondiendo a una invitacion del Comité de Ciudades Hermanas de la Ciudad de Durham (<a href="https://durhamnc.gov/292/Sister-Cities-of-Durham" target="_blank">SCD - Sister Cities of Durham)</a>, Carolina del Norte, inicio un acercamiento con autoridades y organizaciones civiles de la ciudad de Celaya, Guanajuato para lograr que dicha ciudad mexicana sea la sexta ciudad hermana de Durham.</p>

                        <img class="img-responsive" src="assets/images/ciudadeshermanas/sister_cities_elsa1.jpg" align="right"/>
                        <p>Presentación de la Vicepresidenta del Capítulo <a href="#/socio/1">Elsa Jimenez</a> sobre el Municipio de Celaya Guanajuato en la Biblioteca Municipal de la Ciudad de Durham.</p>
                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <img class="img-responsive" src="assets/images/ciudadeshermanas/durham_sistercities_booth.jpg" align="center"/>
                        <p class="text-center">Miembros de la Red Global representando a Celaya, Guanajuato en el Evento de “Sister Cities of Durham”.</p>
                    </div>
                    </div>
                    <!--//blog-entry-content-->

                </div>
                <!--//row-->
            </div>
            <!--//container-->
        <!--//post-->
        </div>
    </section>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>