<!-- ******BLOG****** -->
<div class="blog-entry-wrapper">
    <!--
    <div class="blog-headline-bg">
    </div><!--//blog-headline-bg-->
    <div class="blog-entry">
        <article class="post">
            <header class="blog-entry-heading enlacesocial">
                <div class="container text-center">
                    <h2 class="title">Enlace Social</h2>

                    <div class="meta">
                        <ul class="meta-list list-inline">
                            <li class="post-time">el sábado 14 de mayo a las 10 a.m</li>
                            <li class="post-author"> en el <a href="http://consulmex.sre.gob.mx/raleigh/">consulado
                                Mexicano de Raleigh</a></li>
                        </ul>
                        <!--//meta-list-->
                    </div>
                    <!--meta-->
                </div>
                <!--//container-->
            </header>
            <!--//blog-entry-heading-->

            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <h3 class="section-heading">Objetivo:</h3>
                        <p>Como miembros de la Red Global de Talentos Mexicanos Raleigh, tenemos el corazón en nuestros
                            orígenes, la pasión por continuar fortaleciendo el crecimiento y promoción de nuestra
                            cultura y el orgullo de ser parte de la comunidad hispana en los Estados Unidos de América.
                            El trabajo arduo de años y la tenacidad incansable de muchos de nosotros nos ha colocado en
                            una posición líder estratégica para ayudar, enriquecer y crear planes que promuevan el
                            crecimiento de México desde el extranjero. Es importante para nosotros mostrar la otra cara
                            de la migración. Queremos fomentar el reconocimiento de la capacidad mexicana e impulsar la
                            visión positiva de México a nivel mundial. </p>
                        <p>La diversidad profesional que tiene la Red de Talentos es una fuente invaluable de experiencia y conocimiento que permite identificar las necesidades en las áreas de Tecnología e Innovación, Educación, Ciencias, Economía y Salud. Somos mexicanos comprometidos al servicio de nuestro país.  Nos interesa el bienestar de nuestra sociedad y crear recursos para aumentar el número de personas que puedan alcanzar el éxito en la Comunidad Latina.</p>
                        <p>Queremos ser un vínculo facilitador de proyectos y un lazo de unión entre el Gobierno, el Servicio Exterior Mexicano y la población.</p>
                        <p>Nuestra meta es desarrollar puentes de oportunidad, crear estrategias y formar proyectos para proteger, educar y apoyar a las comunidades marginadas de mexicanos dentro y fuera de Mexico.</p>
                        <h3 class="section-heading">Acciones:</h3>
                        <ul>
                            <li>Red de mentores.” 1,000 Dreamers – 1,000 Leaders” es un programa que busca empoderar a
                                la población de Dreamers (Soñadores) en los EUA y en México a través de mentoría
                                personalizada, entrenamiento en “soft skills” y oportunidades de “networking”. Para más
                                información consulta la liga
                                (<a href="http://www.usmexicofound.org/programs/1000-dreamers-1000-leaders/">1,000
                                    Dreamers-1,000 Leaders</a>)
                            </li>
                        <li>Proyecto México. Desde 1987, la Facultad de Odontología de la Universidad de Carolina
                            del Norte en Chapel Hill envía estudiantes de odontología al orfanato “Nuestros Pequeños
                            Hermanos” en Miacatlán, México, con el objetivo de proporcionar educación para la salud
                            y para asistir en la prestación de atención dental básica y nutricional. Para los
                            estudiantes de UNC es una experiencia que les acerca con la sociedad mexicana y que
                            además regresan con el compromiso de brindar atención futura a las comunidades
                            marginadas y aprender a hablar español. Para más información del proyecto, <a
                                    href="#/proyectomexico">consulte esta
                                liga.</a>
                        </li>
                        <li>Enlaces para mexicanos para prácticas profesionales, estudios de posgrado y
                            oportunidades de empleo tanto en la academia como en la industria.
                            <ul>

                                    <a href="http://conacytprensa.mx/index.php/sociedad/convocatorias/6789-convocatoria-conacyt-conoce-las-bases-del-programa-de-becas-mixtas-para-becarios-conacyt-nacionales?utm_source=newsletter_3186&utm_medium=email&utm_campaign=conoce-las-bases-del-programa-de-becas-mixtas-para-becarios-conacyt-nacionales">
                                        <i class="fa fa-external-link"></i> Programa de Becas Mixtas para Becarios Conacyt Nacionales.</a></li>
                            </ul>
                        </li>
                        </ul>
                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/proyecto_mexico/proyecto_mexico_elaboramos.png"
                                 alt="Niñas haciendo un experimento"/>
                            <figcaption class="figure-caption">Invitación al evento</figcaption>
                        </figure>
                        <blockquote class="custom-quote">

                            <p>Para mayores informes contáctanos a:<br/>
                                Correo electrónico: <a href="mailto:mcolin@sre.gob.mx">mcolin@sre.gob.mx</a><br/>
                                Teléfono: <a href="tel:+19196153656">9196153656</a></p>

                        </blockquote>
                    </div>
                    <!--//blog-entry-content-->

                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </article>
        <!--//post-->
    </div>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->




