<!-- ******BLOG****** -->
<div class="bg-slider-wrapper">
    <!--div class="flexslider bg-slider"-->
        <ul class="slides">
            <li>
                <img src="assets/images/mentorias/mentor_header.png" align="center"/>
            </li>
        </ul>
    <!--/div-->
</div>
<section class="promo section section-on-bg" style="height:430px">
    <div class="container text-center">
        <h2 class="title"><font color="black">Proyecto Mentorías</font></h2>

        <p class="intro"><i><font color="red"> ... La educación es el arma más poderosa que puedes usar para cambiar el mundo ...</font></i></p>
        <p class="text-center"><i><font color="black"> -Nelson Mandela </font></i></p>
        <!--<p><a class="btn btn-cta btn-cta-primary" href="signup.html">Comunícate con nosotros</a></p>-->
    </div>
</section><!--//promo-->
<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <div class="row item">
                <div class="content col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <div>
                    <div class="text-left col-md-6 col-sm-6 col-xs-12">
                        <p>Dicho proyecto consiste en identificar estudiantes mexicanos de secundaria y preparatoria con deseos de continuar sus estudios universitarios pero que no están seguros o no conocen como aplicar y/o como conseguir recursos para ingresar a las univesridades publicas o comunitarias de nuestra región en Carolina del Norte.</p>

                        <p>A partir del 2018 el capítulo Raleigh inició una estrecha relación con el <i><span style="font-weight: italic;"><a href="https://ncsli.unc.edu/es/" target="_blank">North Carolina Scholars’ Latino Initiative (N.C. Sli)</a></span></i> para colaborar como voluntarios en los diferentes eventos que N.C. Sli organiza con el fin de facilitar acceso a las oportunidades de participación educativa, profesional y cívica para la próxima generación de líderes latinos en Carolina del Norte.</p>

                        <img class="img-responsive" src="assets/images/mentorias/reunion-ncsli.jpg" align="right"/>
                        <p class="text-center">Primera reunión de acercamiento del capítulo Raleigh con Ricky Hurtado, Director Ejecutivo de NC_Sli.</p>  
                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                    </div>
                    </div>
                    <!--//blog-entry-content-->

                </div>
                <!--//row-->
            </div>
            <!--//container-->
        <!--//post-->
        </div>
    </section>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>