<!-- ******BLOG****** -->
<div class="blog-entry-wrapper">
    <!--
    <div class="blog-headline-bg">
    </div><!--//blog-headline-bg-->
    <div class="blog-entry">
        <article class="post">
            <header class="blog-entry-heading proyecto-mexico">
                <div class="container text-center">
                    <!--<h2 class="title">Proyecto México</h2>-->

                    <!--<div class="meta">-->
                        <!--<ul class="meta-list list-inline">-->
                            <!--<li class="post-time">El sábado 14 de mayo a las 10 a.m</li>-->
                            <!--<li class="post-author"> en <a href="#">consulado Mexicano de Raleigh</a></li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash;//meta-list&ndash;&gt;-->
                    <!--</div>-->
                    <!--meta-->
                </div>
                <!--//container-->
                <!--//post-nav-->
            </header>
            <!--//blog-entry-heading-->

            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <h1 style="font:small-caps bold  italic 2.5em Georgia, 'Times New Roman', times, serif; color: red;">¿Qué es el proyecto México?</h1>
                        <p class="source"><a href="#/socio/8">Dra. Carolina Vera.</a></p>
                        <p><span
                                style="font: 300%/100% Georgia, 'Times New Roman', times, serif; color: #999999;">D</span>urante
                            dos semanas cada verano, un pequeño grupo de primer y segundo año los estudiantes de
                            odontología UNC
                            viajan a Nuestros Pequeños Hermanos para proporcionar atención dental básica y preventiva al
                            orfanato.
                            Los alumnos se enfocan en instruir a los niños en el aspecto nutricional y los ayudan a
                            tener una buena higiene bucal,
                            enseñándoles como en un aula escolar el uso del cepillo dental.</p>

                        <p>La historia de esta casa hogar para niños llamada Nuestros Pequeños Hermanos (NPH), comenzó
                            hace más de medio siglo en la iglesia de Tepetates en Cuernavaca, México. Allí, un
                            adolescente rompió la caja de la ofrenda de la Iglesia del pueblo y robo 500 pesos
                            (alrededor de $45 USD). Después de que el niño fue puesto en prisión, el cura de la iglesia
                            nacido en Estados Unidos, el Padre William Wasson (1923-2006), se negó a presentar cargos
                            contra el niño y en su lugar pidió al juez la custodia. Hacia el final de la semana el juez
                            había traído Padre Wasson ocho niños más, y en menos de un año el cura tenía 32 niños a su
                            cuidado. Actualmente, en la casa hogar viven casi 800 niños huérfanos, abandonados o en
                            situaciones de riesgo por pobreza extrema, provenientes de familias desintegradas, victimas
                            de maltrato o con padres en la cárcel provenientes de toda la Republica Mexicana.</p>

                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">

                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/proyecto_mexico/proyecto_mexico_p15.png"
                                 alt="Grupo de estudiantes"/>
                            <!--<figcaption class="figure-caption">Grupo de estudiantes</figcaption>-->
                        </figure>
                    </div>
                    <!--//blog-entry-content-->
                </div>
                <!--//row-->
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <p>Estos niños llegan a Nuestros Pequeños Hermanos por medio de diversas instituciones locales y
                            de otros estados como: DIF, Procuraduría de la Defensa del Menor, Ministerio Publico, otras
                            casas hogar o algunas veces de particulares. En Nuestros Pequeños Hermanos los niños reciben
                            educación, actividades extracurriculares como deportes música, y danza folklórica crecen sus
                            propios cultivos, y crían ganado. A los niños se les imparten valores religiosos y se les
                            involucra en un programa de formación integral. Nuestros Pequeños Hermanos tiene diferentes
                            sedes : La Casa San Salvador en Miacatlan Morelos, Aquí viven los niños de maternal, kínder,
                            primaria y secundaria , esta sede cuenta con clínicas medicas y dental. La Casa Buen Señor
                            en Cuernavaca Morelos, aquí viven los estudiantes que asisten a Bachillerato Tecnológico
                            donde se ofrecen cinco carreras a nivel medio superior: computación, Puericultura, Turismo,
                            Electrónica y Contabilidad. La Casa San Luis ubicada en Monterrey Nuevo León, viven
                            estudiantes que asisten a la Universidad, cada ano se gradúan entre 12-17 estudiantes
                            universitarios que se incorporan a la fuerza laboral. . Al terminar el bachillerato o la
                            Universidad, todos los graduados dan un ano de servicio a la casa hogar para apoyar a los
                            niños mas pequeños en diversas tareas en la cocina, panadería, invernadero, lavandería o en
                            el campo y la granja. La Casa Villa de Guadalupe en Cuernavaca Morelos, aquí viven los
                            jóvenes que por diversas razones no pueden cursas estudios superiores. A través del Programa
                            de “Transición de Vida” preparándolos para el mundo fuera de NPH capacitándolos en un oficio
                            y ayudándoles a buscar empleo. En la sede, La Casa Ciudad de los Niños en Matamoros,
                            Tamaulipas, se atienden a los niños necesitados de esta ciudad fronteriza y del norte del
                            México.
                        </p>
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/proyecto_mexico/proyecto_mexico_mapa.png"
                                 alt="Mapa de México"/>
                        </figure>
                    </div>
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <p>A todos los niños en NPH se les provee con apoyo psicopedagogo , atención medica y
                            dental. Los estudiantes de el Proyecto México proporcionan un servicio inestimable en el
                            área dental, provén de material y equipo a la clínica y ayudando a desarrollar la “
                            Semana de la Salud Bucal” coordinada por la dentista de la comunidad, (un voluntario de
                            tiempo parcial), En su corta estancia en Nuestros Pequeños Hermanos, los estudiantes de
                            odontología revisan la salud bucal de tantos niños como sea posible y se enfocan a
                            identificar a los pacientes que necesitan atención y seguimiento con la
                            Dentista/Voluntaria de la Casa. Todo el material provisto por el proyecto es el
                            resultado de un largo proceso de recolección de donaciones por parte de patrocinadores
                            en el ramo dental y de una serie de eventos organizados por los estudiantes para generar
                            fondos para ayudar a proveer las necesidades medico/dentales de la casa hogar.
                        </p>

                        <p>Los estudiantes de la UNC viven en el dormitorio orfanato y comen y conviven con los
                            niños en el comedor de la casa, esto es algo que cultiva una estrecha relación con los
                            niños y conduce a una mejor comprensión de sus necesidades y, por ende, a una mejor
                            atención de las necesidades de los pequeños. En la casa hogar los estudiantes también
                            adquieren experiencia directa con el sistema de atención de salud en México y obtienen
                            una visión de primera mano sobre cómo las naciones en desarrollo apoyan con a lugares
                            como este donde los recursos médicos son limitados y los servicios dentales escasos.
                        </p>
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/proyecto_mexico/proyecto_mexico_distribucion.png"
                                 alt="Distribución de Estudiantes"/>
                        </figure>
                    </div>

                </div>
                <!--//row-->
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <p>Es Claro que los niños de Nuestros Pequeños Hermanos juegan un factor clave en el proyecto.
                            Todos los estudiantes de UNC regresan con una mentalidad distinta después de haber tenido
                            una relación tan cercana con los huérfanos. El orfanato es un lugar increíble simplemente
                            lleno de amor y cuidado. Todo función como una gran familia donde los niños participan en el
                            trabajo y organización del orfanato y al mismo tiempo son valorados y educados para ser
                            mejores seres humanos y Profesionistas. Esta visión de lucha e incansable esfuerzo no es
                            ignorada por los estudiantes visitantes, cada ano las principales donaciones a el Proyecto
                            México vienen de ex alumnos que tuvieron la oportunidad de compartir esta maravillosa
                            experiencia en nuestro país.
                        </p>

                        <p> Una semana antes de llegar al orfanato los estudiantes hacen un recorrido cultural y
                            educativo por las principales zonas arqueológicas, museos, escuelas de odontología e
                            institutos de salud en la Ciudad de México, y en los estados de Puebla y Morelos. Además de
                            visitar instalaciones de compañías fabricantes, proveedores, laboratorios dentales de alto
                            prestigio y consultorios de odontólogos y especialistas lideres en el ramo dental. Esta
                            semana cultural en el Proyecto México fue creada con el fin de proporcionar una amplia
                            exposición de los aspectos sociales, y recursos profesionales, culturales y educativos con
                            los que cuenta el país.</p>
                    </div>
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/proyecto_mexico/proyecto_mexico_p4.png"
                                 alt="Estudiantes haciendo una limpieza"/>
                            <figcaption class="figure-caption">Estudiantes haciendo una limpieza</figcaption>
                        </figure>
                        <p> Los alumnos recorren las áreas culturales con guía turística, y
                            cuando visitan los centros educativos , hospitales e institutos reciben conferencias en
                            áreas medicas u odontológicas especializadas por profesionales calificados en el área y
                            recorren las instituciones guiados por odontólogos o médicos voluntarios en este proyecto.
                            En cada viaje los estudiantes regresan con una mentalidad y visión diferente por las
                            experiencias vividas en el viaje y se encargan de ensenar, motivar y ayudar al siguiente
                            grupo para seguir promoviendo el crecimiento de este programa internacional dentro de la
                            Universidad de Carolina del Norte.
                        </p>
                    </div>
                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </article>
        <!--//post-->
    </div>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>