<div class="headline-bg pricing-headline-bg">
</div><!--//headline-bg-->

<!-- ******Pricing Section****** -->
<section class="pricing section section-on-bg">
    <div class="container">
        <h2 class="title text-center">¡Esto es en lo que estamos trabajando para llevar a cabo nuestra misión!</h2>
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <!--<p class="intro text-center"><i>Coadyuvar a que los mexicanos que residen en Carolina del Norte y que están-->
            <!--vinculados a negocios o sectores que generan valor agregado puedan contribuir a una mejor inserción de-->
            <!--México en la economía global y, en particular en las áreas de ciencia, innovación, tecnología, investigación-->
            <!--y academia, con responsabilidad social.</i></p>-->

        <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Día de la Ciencia y Tecnología</h3>
                            <p class="price-figure">
                                    <span class="price-figure-inner">
                                        <p class="price-figure">Sábado 5 de mayo 2018 en el consulado mexicano<br/><strong>¡Estás
                                            invitado!</strong></span></p>
                                        <br/>
                                        ¿Sabías que varios expertos mexicanos estarán presentes en el Día de la Ciencia y la Tecnología?<br/>  ¡Ven y conócelos!
                                   </span></p>
                        </div>
                        <div class="content">
                            <p>En coordinación con el Consulado General de México en Raleigh llevarán a cabo el primer
                                Día de la Ciencia y la Tecnología. Este evento tiene la finalidad de que los niños
                                puedan interactuar, a través de diversas actividades, con expertos de varias disciplinas
                                en el ramo de las ciencias de la computación, agrícolas, médicas y del aprendizaje.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/diadelaciencia">Ver mas</a>
                        </div>
                        <!--//content-->
                        <div class="ribbon">
                            <div class="text">¡9 a.m.!</div>
                        </div>
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

                <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Proyecto México</h3>

                            <p class="price-figure">¿Sabías que desde 1987, la UNC School of Dentistry ha enviado
                                estudiantes de odontología de Nuestros Pequeños Hermanos en Miacatlán México?</p>
                        </div>
                        <div class="content">
                            <p> El objetivo de esta visita es para proporcionar educación para la salud y para asistir
                                en la prestación de atención dental básica y nutricional a cerca de 800 niños que viven
                                en el orfanato.</p>

                            <p>Este viaje anual proporciona servicios esenciales a los niños por medio de la Semana de
                                la Salud Bucal, creada por los estudiantes del proyecto.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/proyectomexico">Ver mas</a>
                        </div>
                        <!--//content-->
                        <!--<div class="ribbon">
                            <div class="text">Popular</div>
                        </div>//ribbon-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

                <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Proyecto Bilingüismo 2018</h3>

                            <p class="price-figure">
                                  <span class="price-figure-inner">
                                      De manera general, el bilingüismo consiste en la habilidad para expresarse en dos lenguas.
                                  </span>
                            </p>
                        </div>
                        <div class="content">
                            <h4>Objetivos:</h4>
                            <ol class="feature-list">
                                <li>Dar a conocer la importancia de desarrollar la capacidad de ser bilingüe (o plurilingüe) como una herramienta para fortalecer las capacidades cognitivas del cerebro y la salud mental.
                                </li>
                                <li>Resaltar las condiciones demográfico/económicas que permiten que existan mejores oportunidades de trabajo para las personas bilingües (Inglés/Español) en los Estados Unidos de América.
                                </li>
                                <li>Promover los valores y el orgullo de la cultura hispana en Raleigh a través de
                                    reconocer la importancia de hablar el idioma español.
                                </li>
                            </ol>
                            <a class="btn btn-cta btn-cta-primary" href="#/bilinguismo">Ver mas</a>

                        </div>
                        <!--//content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

            </div>
            <!--//items-wrapper-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section><!--//pricing-->

<!-- ******CTA Section****** -->
<section id="cta-section" class="section cta-section text-center pricing-cta-section">
    <div class="container">
        <!--<h2 class="title">More than <span class="counting">300,000</span> users are using Velocity</h2>-->

        <!--<p class="intro">What are you waiting for?</p>-->

        <!--<p><a class="btn btn-cta btn-cta-primary"-->
              <!--href="https://wrapbootstrap.com/theme/velocity-designed-for-products-WB0N38R04" target="_blank">Get-->
            <!--Velocity Now</a></p>-->
    </div>
    <!--//container-->
</section><!--//cta-section-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>
