
<section class="featured-blog-posts section">

    <div class="flexslider blog-slider">
    </div><!--//flexslider-->

</section><!--//featured-blog-posts-->

<!-- ******BLOG LIST****** -->
<div class="blog container">
    <div class="row">
        <div id="blog-mansonry" class="blog-list">
            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="#/people/alberto"><img class="img-responsive" src="assets/images/people/FotosCBandera_Alberto.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="#/people/alberto">Alberto Lopez - Presidente</a></h3>
                        <div class="post-entry">
                            <p>
Se graduó como Licenciado en Administración de Empresas de la Universidad Autónoma de Guadalajara y tiene una Maestría en Administración de Negocios 
Internacionales de Central Michigan University y una Maestría en Administración Avanzada de Proyectos de la George Washington University.
</p>
                            <a class="read-more" href="#/people/alberto">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">16th Oct, 2014</li>
                                <li class="post-author"> by <a href="#">James Lee</a></li>
                                <li class="post-comments-link">
                                    <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>8</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="#/people/rodolfo"><img class="img-responsive" src="assets/images/people/FotosCBandera_Rodolfo.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="#/people/rodolfo">Rodolfo Ruiz - Vice Presidente</a></h3>
                        <div class="post-entry">
                            <p>Ingeniero en Computación, Universidad Autónoma de Guadalajara
Nacido en Monterrey, NL, creció en la Ciudad de México, Querétaro y Guadalajara. Esposo y padre de tres, Paulina, Jacqueline y Alessandro. Amante del raquetbol, golf  y futbol soccer, seguidor del América, Barcelona y la Selección Mexicana</p>
                            <a class="read-more" href="#/people/rodolfo">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">23rd Sep, 2014</li>
                                <li class="post-author"> by <a href="#">James Lee</a></li>
                                <li class="post-comments-link">
                                    <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>3</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="#/people/luis"><img class="img-responsive" src="assets/images/people/FotosCBandera_Luis.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="#/people/luis">Luis Fuentes - Secretario </a></h3>
                        <div class="post-entry">
                            <p>Licenciado en Mercadotecnia del ITESM, Campus Ciudad de México. Con estudios de
Marketing Research & Public Relations en European University Barcelona, España,
Graduado de Masco University MLP-Innovation program (Cohort 2) y Mega-Trends
program. Diploma de la Universidad La Salle en Packaging Design. Diploma Media
Communications and Advertising, (MGMO) Institute of Foreign Affairs of Moscow, Moscú,
Rusia.</p>
                            <a class="read-more" href="#/people/luis">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">18th Aug, 2014</li>
                                <li class="post-author"> by <a href="#">Jeremy Green</a></li>
                                <li class="post-comments-link">
                                    <a href="blog-single.html#comment-area"><i class="fa fa-comments"></i>2</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="blog-single.html"><img class="img-responsive" src="assets/images/people/FotosCBandera_Gerardo.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href=".html">Gerardo Santoyo - Socio Fundador</a></h3>
                        <div class="post-entry">
                            <p>Se graduó como Ingeniero Electrónico del Instituto Tecnológico y de Estudios Superiores
de Occidente (ITESO) en Guadalajara y tiene una especialidad en cuidado del medio
ambiente y en seguridad industrial/laboral por la Universidad de Guadalajara.</p>
                            <a class="read-more" href="gerardo.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">12th April, 2014</li>
                                <li class="post-author"> by <a href="#">James Lee</a></li>
                                <li class="post-comments-link">
                                    <a href="gerardo.html#comment-area"><i class="fa fa-comments"></i>4</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="jorge.html"><img class="img-responsive" src="assets/images/people/FotosCBandera_Jorge.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="jorge.html">Jorge Ramos - Tecnologia</a></h3>
                        <div class="post-entry">
                            <p>Se graduó como Ingeniero en Electrónica del Instituto Tecnológico de Estudios Superiores
de Occidente y tiene una Maestría en Ciencias Computacionales de la Houston Clear Lake
University. Tiene la certificación Profesional de Administración de Proyectos (PMP-PMI).</p>
                            <a class="read-more" href="jorge.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">3th April, 2014</li>
                                <li class="post-author"> by <a href="#">James Lee</a></li>
                                <li class="post-comments-link">
                                    <a href="jorge.html#comment-area"><i class="fa fa-comments"></i>1</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="marco.html"><img class="img-responsive" src="assets/images/people/FotosCBandera_Marco.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="marco.html">Marco Domingez - Tesorero</a></h3>
                        <div class="post-entry">
                        <p>Originario de Córdoba, Veracruz donde realizó sus estudios titulándose como Licenciado
en Contaduría Pública en la Universidad Del Valle de Orizaba. En el año 2000 se mudó a la
ciudad de Tijuana Baja California donde desempeñó diversos roles en el área financiera,
como Asistente de Finanzas, Contador General y Analista Financiero.</p>
                        <a class="read-more" href="marco.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">3th April, 2014</li>
                                <li class="post-author"> by <a href="#">James Lee</a></li>
                                <li class="post-comments-link">
                                    <a href="marco.html#comment-area"><i class="fa fa-comments"></i>5</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="miguel.html"><img class="img-responsive" src="assets/images/people/FotosCBandera_Miguel.png" alt="" /></a>
                    </figure><!-- /post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="miguel.html">Miguel Núñez-Wolff - Socio Fundador </a></h3>
                        <div class="post-entry">
                            <p>IKA es un fabricante líder en tecnología y equipos de proceso, laboratorio y analítica, para diversas industrias incluyendo: farmacéutica, cuidado personal, cosmética, química,
petrolera, alimentos y bebidas. En su puesto actual, Miguel tiene la responsabilidad general
de ventas y mercadeo, dirección de empleados y representantes, fidelización de clientes y
alcance de metas para IKA Works, en toda la región del Caribe y América Latina. </p>
                            <a class="read-more" href="miguel.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">3th April, 2014</li>
                                <li class="post-author"> by <a href="#">Alex Morgan</a></li>
                                <li class="post-comments-link">
                                    <a href="miguel.html#comment-area"><i class="fa fa-comments"></i>1</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="monica.html"><img class="img-responsive" src="assets/images/people/FotosCBandera_Monica.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="monica.html">Monica Vera - Socia Fundadora</a></h3>
                        <div class="post-entry">
                            <p>Originaria de la Ciudad de México. Se convirtió en socia de una empresa a los 21 años y
tuvo contactos internacionales en los negocios que aún mantiene. Después de terminar los
cinco años de la escuela dental en México, realizó un año de investigación con pacientes en
hospitales para desarrollar una tesis sobre los trastornos temporomandibulares. Obtuvo
una beca en estética dental, y otra en odontología restauradora. Trabajó tres años en uno
de los consultorios más prestigiados de México, que se especializan en odontología
cosmética. Durante este tiempo, también utilizó su formación y experiencia para trabajar
en programas como Operación Sonrisa, que presta servicios reconstructivos de forma
gratuita a los niños necesitados.</p>
                            <a class="read-more" href="monica.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">3th April, 2014</li>
                                <li class="post-author"> by <a href="#">James Lee</a></li>
                                <li class="post-comments-link">
                                    <a href="Monica.html#comment-area"><i class="fa fa-comments"></i>28</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                    </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

            <article class="post col-md-4 col-sm-6 col-xs-12">
                <div class="post-inner">
                    <figure class="post-thumb">
                        <a href="oscar.html"><img class="img-responsive" src="assets/images/people/FotosCBandera_Oscar.png" alt="" /></a>
                    </figure><!--//post-thumb-->
                    <div class="content">
                        <h3 class="post-title"><a href="oscar.html">Oscar Pérez - Socio Fundador</a></h3>
                        <div class="post-entry">
                            <p>Originario del estado de Chiapas. Estudió la Licenciatura en Ingeniería Química en el
Instituto Tecnológico de Tuxtla Gutiérrez, la Maestría en Ingeniería en Hidráulica
Ambiental en la Universidad Autónoma de Chiapas y posteriormente realizó un Doctorado
y un Postdoctorado en el Departamento de Ingeniería Agrícola y Biológica de la
Universidad de Florida.</p>
                            <a class="read-more" href="oscar.html">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="meta">
                            <ul class="meta-list list-inline">
                                <li class="post-time post_date date updated">3th April, 2014</li>
                                <li class="post-author"> by <a href="#">Jo Bailey</a></li>
                                <li class="post-comments-link">
                                    <a href="oscar.html#comment-area"><i class="fa fa-comments"></i>110</a>
                                </li>
                            </ul><!--//meta-list-->
                        </div><!--meta-->
                     </div><!--//content-->
                </div><!--//post-inner-->
            </article><!--//post-->

        </div><!--//blog-list-->
    </div><!--//row-->
    <div class="pagination-container text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
<!--            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>-->
            <li><a href="#">&raquo;</a></li>
        </ul><!--//pagination-->
    </div><!--//pagination-container-->
</div><!--//blog-->

