<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->
<section class="promo section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Red Global de Mexicanos Calificados en el Exterior Capítulo Raleigh</h2>

        <p class="intro"><i>...la iniciativa para facilitar la integración, colaboración y desarrollo de actividades
            entre Capítulos de la Red GlobalMX e interactuar con mexicanos en México y con mexicanos en todo el
            mundo...</i></p>
        <!--<p><a class="btn btn-cta btn-cta-primary" href="signup.html">Comunícate con nosotros</a></p>-->
    </div>
    <!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <div class="row item">

                <div class="content col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">
                    <div class="text-center">
                        <h2 class="title">¡Acompáñanos el 28 de Abril en el Consulado Mexicano!
                        </h2>

                        <p class="title">Este día será el lanzamiento oficial del capítulo Raleigh de la Red
                            GlobalMX</p>
                    </div>
                    <figure>
                        <img class="img-responsive" src="assets/images/blog/invitacionDiaDeLaCiencia.png"
                             alt="Niñas haciendo un experimento"/>
                        <figcaption class="figure-caption">Invitación al evento</figcaption>
                    </figure>
                </div>

            </div>
            <div class="row item">
                <div class="content col-md-6 col-sm-12 col-xs-12">
                    <h3 class="title">¡Nuestra Misión!</h3>

                    <div class="desc">
                        <p>Coadyuvar a que los mexicanos que residen en Carolina del Norte y que están vinculados a
                            negocios o sectores que generan valor agregado puedan contribuir a una mejor inserción de
                            México en la economía global y, en particular en las áreas de ciencia, innovación,
                            tecnología, investigación y academia, con responsabilidad social.</p>
                    </div>
                </div>
                <!--//content-->
                <figure class="figure col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <iframe id="vimeo-video" src="https://www.youtube.com/embed/QLICEpsWnxo" width="720" height="405"
                            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <!--//item-->

            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Objetivos</h3>

                    <div class="desc">
                        <ul>
                            <li>Desarrollo de estrategias y proyectos basados en los 4 ejes de trabajo</li>
                            <li>Apoyar a la misión y objetivos del proyecto ―Red Global MX, del Instituto de los
                                Mexicanos en el Exterior pertenecientes a la Secretaría de Relaciones Exteriores de
                                México.
                            </li>
                            <li>Crear un punto de enlace que facilite la comunicación entre los mexicanos que viven en
                                Carolina del Norte.
                            </li>
                            <li>Ser una entidad que proporciona información para facilitar la incorporación de los
                                mexicanos que comienzan una nueva vida en Carolina del Norte.
                            </li>
                            <li>Impulsar la inserción de mexicanos calificados en la economía local.
                                Promover el prestigio de México en el exterior.
                            </li>
                        </ul>
                        <p><i class="fa fa-download"></i> <a href="Raleigh_Estatutos.pdf">Estatutos</a></p>
                    </div>
                </div>
                <!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="assets/images/background/redglobalmx.gif" alt=""/>
                    <figcaption class="figure-caption">(Que es la Red Global Mx ?)</figcaption>
                </figure>
            </div>
            <!--//item-->
        </div>
        <!--//container-->
    </section>
    <!--//why-->
    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center home-cta-section">
        <div class="container">
            <img src="assets/images/background/Mexico-Ojo_1270_430.png" class="img-responsive" alt="Bandera de Mexico">
        </div>
        <!--//container-->
    </section>
    <!--//cta-section-->
</div><!--//section-wrapper-->
<script type="text/javascript">
    /* ======= Header Background Slideshow - Flexslider ======= */
    /* Ref: https://github.com/woothemes/FlexSlider/wiki/FlexSlider-Properties */
    $('.bg-slider').flexslider({
        animation: "fade",
        animationLoop: true,
        directionNav: false, //remove the default direction-nav - https://github.com/woothemes/FlexSlider/wiki/FlexSlider-Properties
        controlNav: false, //remove the default control-nav
        slideshowSpeed: 8000
    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>
