<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <!--li class="slide slide-1"></li-->
            <!--li class="slide slide-2"></li-->
            <li>
                <img src="assets/images/background/Portada.jpg"/>
            </li>
            <li>
                <img src="assets/images/background/RedGlobalMx.jpg"/>
            </li>
            <li>
                <img src="assets/images/background/RedGlobalMx_2.jpg"/>
            </li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->
<section class="promo section section-on-bg" style="height:510px">
    <div class="container text-center">
        <h2 class="title">Red Global de Mexicanos Calificados en el Exterior Capítulo Raleigh</h2>

        <p class="intro"><i>...la iniciativa para facilitar la integración, colaboración y desarrollo de actividades
            entre Capítulos de la Red GlobalMX e interactuar con mexicanos en México y con mexicanos en todo el
            mundo...</i></p>
        <!--<p><a class="btn btn-cta btn-cta-primary" href="signup.html">Comunícate con nosotros</a></p>-->
    </div>
    <!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <div class="row item">

                <div class="content col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <div>
                        <h2 class="title text-center">28 de Abril de 2016
                        </h2>

                        <p class="text-left"><i><span style="font-weight: bold;">Día del lanzamiento oficial del capítulo Raleigh de la Red GlobalMX</span></i></p>
                        <h2 class="title text-center">12 de Mayo de 2018
                        </h2>
                        <p class="text-left"><i><span style="font-weight: bold;">Ceremonia oficial de traspaso de mesa directiva</span></i></p>
                        <p class="text-left">El pasado 12 de mayo en nuestra reunión mensual se llevo a cabo la ceremonia oficial de traspaso de mesa directiva de la Red Global de Mexicanos Calificados en el Exterior Capítulo Raleigh. La nueva mesa directiva quedó integrada con los siguientes integrantes:</p>
                        <p class="text-left">
                        <p class="content col-md-6"><span style="font-weight: bold; ">Presidente:</span><span style="font-weight:normal;"> Gerardo Santoyo</span></p>
                        <p class="content col-md-6"><span style="font-weight: bold;">Vice-Presidenta:</span><span style="font-weight:normal;"> Elsa Jimenez</span></p>
                        <p class="content col-md-6"><span style="font-weight: bold;">Secretaria:</span><span style="font-weight:normal;"> Luisa Scott</span></p>
                        <p class="content col-md-6"><span style="font-weight: bold;">Tesorero:</span><span style="font-weight:normal;"> Alfredo Garcia</span></p>
                        <p class="content col-md-6"><span style="font-weight: bold;">Tecnología:</span><span style="font-weight:normal;"> Enrique Muñiz</span></p>
                        <p class="content col-md-6"><span style="font-weight: bold;"> </span><span style="font-weight:normal;">"" </span></p>
                        </p>
                    </div>
                    <figure>
                        <img class="content col-md-12 col-sm-12 col-xs-12 img-responsive" src="assets/images/background/transpaso_presidencia_2.jpg"/>
                        <img class="content col-md-12 col-sm-12 col-xs-12 img-responsive" src="assets/images/background/transpaso_presidencia.jpg"/>
                        <!--figcaption class="figure-caption text-center blog-entry-content col-md-6 col-sm-6 col-xs-12"-->
                        <p class="text-center">Transpaso simbólico por parte del presidente saliente Alberto López el certificado expedido por la SRE de la creación del Capítulo Raleigh a la nueva mesa directiva encabezada por nuestro presidente Gerardo Santoyo.</p><!--/figcaption-->
                    </figure-->
                </div>
                <div class="content col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 pull-right">
                        <p class="text-left">Para estar al día sobre eventos y noticias, siguenos en Facebook</p>
                        <h2 class="title text-left">
                            <a href="https://www.facebook.com/redglobalmxraleigh/" target="_blank">
                            <img src="assets/images/background/facebook-logo.png" width="128" height="42" align="middle"></a>
                        </h2>
                    <div>
                        <h2 class="title text-center"><i><span style="font-weight: italic;">EVENTOS:</span></i>
                        </h2>
                        <p class="text-left"><i><span style="font-weight: bold;">Celebración del 208 Aniversario de la Independencia de México</span></i></p>
                        <figure>
                        <img class="content col-md-12 col-sm-12 col-xs-12 pull-right" src="assets/images/background/RedGlobalMx_VivaMexico2018.jpg"/>
                        </figure>
                        <p class="text-center">La Red Global-MX Capitulo Raleigh presente en la celebracion del 208 Aniversario de la Independencia de Mexico.</p>
                        <p class="text-left"><i><span style="font-weight: bold;">Entrega del "Ohtli Award 2018" a nuestra compañera María Rosa Rangel</span></i></p>
                        <figure>
                        <img class="content col-md-12 col-sm-12 col-xs-12 pull-right" src="assets/images/background/OhtliAward2018.jpg"/>
                        </figure>
                        <p class="text-center">Ceremonia realizada en la misma celebracion del 208 Aniversario de la Independencia de Mexico y <a href="http://www.lanoticia.com/consualdo-de-mexico-entrega-reconocimiento-a-educadora-por-su-trayectoria/" target="_blank">entrega del Ohtli </a>por parte de la Cónsul General de México en Raleigh Remedios Gómez Arnau.</p>
                        <a class="btn btn-cta btn-cta-primary" href="http://www.lanoticia.com/consualdo-de-mexico-entrega-reconocimiento-a-educadora-por-su-trayectoria/" target="_blank">Ver mas</a>
                    </div>                        
                </div>
            </div>
            <div class="row item">
                <div class="content col-md-6 col-sm-12 col-xs-12">
                    <h3 class="title">¡Nuestra Misión!</h3>

                    <div class="desc">
                        <p>Coadyuvar a que los mexicanos que residen en Carolina del Norte y que están vinculados a
                            negocios o sectores que generan valor agregado puedan contribuir a una mejor inserción de
                            México en la economía global y, en particular en las áreas de ciencia, innovación,
                            tecnología, investigación y academia, con responsabilidad social.</p>
                    </div>
                </div>
                <!--//content-->
                <figure class="figure col-md-6 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <iframe id="vimeo-video" src="https://www.youtube.com/embed/QLICEpsWnxo" width="720" height="405"
                            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </figure>
            </div>
            <!--//item-->

            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Objetivos</h3>

                    <div class="desc">
                        <ul>
                            <li>Desarrollo de estrategias y proyectos basados en los 4 ejes de trabajo</li>
                            <li>Apoyar a la misión y objetivos del proyecto ―Red Global MX, del Instituto de los
                                Mexicanos en el Exterior pertenecientes a la Secretaría de Relaciones Exteriores de
                                México.
                            </li>
                            <li>Crear un punto de enlace que facilite la comunicación entre los mexicanos que viven en
                                Carolina del Norte.
                            </li>
                            <li>Ser una entidad que proporciona información para facilitar la incorporación de los
                                mexicanos que comienzan una nueva vida en Carolina del Norte.
                            </li>
                            <li>Impulsar la inserción de mexicanos calificados en la economía local.
                                Promover el prestigio de México en el exterior.
                            </li>
                        </ul>
                        <p><i class="fa fa-download"></i> <a href="Raleigh_Estatutos.pdf">Estatutos</a></p>
                    </div>
                </div>
                <!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="assets/images/background/redglobalmx.gif" alt=""/>
                    <figcaption class="figure-caption">(Que es la Red Global Mx ?)</figcaption>
                </figure>
            </div>
            <!--//item-->
        </div>
        <!--//container-->
    </section>
    <!--//why-->
    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center home-cta-section">
        <div class="container">
            <img src="assets/images/background/Mexico-Ojo_1270_430.png" class="img-responsive" alt="Bandera de Mexico">
        </div>
        <!--//container-->
    </section>
    <!--//cta-section-->
</div><!--//section-wrapper-->
<script type="text/javascript">
    /* ======= Header Background Slideshow - Flexslider ======= */
    /* Ref: https://github.com/woothemes/FlexSlider/wiki/FlexSlider-Properties */
    $('.bg-slider').flexslider({
        animation: "fade",
        animationLoop: true,
        directionNav: false, //remove the default direction-nav - https://github.com/woothemes/FlexSlider/wiki/FlexSlider-Properties
        controlNav: false, //remove the default control-nav
        slideshowSpeed: 8000
    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>
