<div class="headline-bg pricing-headline-bg">
</div><!--//headline-bg-->

<!-- ******Pricing Section****** -->
<section class="pricing section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Pilares de trabajo</h2>

        <p class="intro text-center">Los proyectos son los que sustentan nuestros ejes de trabajo</p>

        <div class="price-cols row">
            <div id="contentBox" style="margin:0px auto; width:90%">
            <!--div class="items-wrapper col-md-8 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0"-->
                <div id="column1" style="float:left; margin:0; width:20%;" class="item price-1 col-md-6 col-sm-4 col-xs-12 text-left best-buy">    
                <!--div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center best-buy"-->
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Proyecto México</h3>

                            <p class="price-figure">¿Sabías que desde 1987, la UNC School of Dentistry ha enviado
                                estudiantes de odontología de Nuestros Pequeños Hermanos en Miacatlán México?</p>
                        </div>
                        <div class="content">
                            <h4>Objetivos:</h4>
                            <p> El objetivo de esta visita es para proporcionar educación para la salud y para asistir
                                en la prestación de atención dental básica y nutricional a cerca de 800 niños que viven
                                en el orfanato.</p>

                            <p>Este viaje anual proporciona servicios esenciales a los niños por medio de la Semana de
                                la Salud Bucal, creada por los estudiantes del proyecto.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/proyectomexico">Ver mas</a>
                        </div>
                        <!--//content-->
                        <!--<div class="ribbon">
                            <div class="text">Popular</div>
                        </div>//ribbon-->
                    </div>
                    <!--//item-inner-->
                <!--/div-->
                </div>
                <div id="column2" style="float:left; margin:0; width:20%;" class="item price-1 col-md-6 col-sm-4 col-xs-12 text-left best-buy">
                <!--div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy"-->
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Proyecto Bilingüismo 2018</h3>
                            <p class="price-figure">
                                  <span class="price-figure-inner">
                                      De manera general, el bilingüismo consiste en la habilidad para expresarse en dos lenguas.
                                  </span>
                            </p>
                        </div>
                        <div class="content">
                            <h4>Objetivos:</h4>
                            <!--ol class="feature-list"-->
                                <p>Dar a conocer la importancia de desarrollar la capacidad de ser bilingüe (o plurilingüe) como una herramienta para fortalecer las capacidades cognitivas del cerebro y la salud mental.
                                </p>
                                <p>Resaltar las condiciones demográfico-económicas que permiten que existan mejores oportunidades de trabajo para las personas bilingües (Inglés/Español) en los Estados Unidos de América.
                                </p>
                                <p>Promover los valores y el orgullo de la cultura hispana en Raleigh a través de
                                    reconocer la importancia de hablar el idioma español.
                                </p>
                            <!--/ol-->
                            <a class="btn btn-cta btn-cta-primary" href="#/bilinguismo">Ver mas</a>

                        </div>
                        <!--//content-->
                    </div>
                    <!--//item-inner-->
                <!--/div-->
                </div>
                <div id="column3" style="float:left; margin:0; width:20%;" class="item price-1 col-md-6 col-sm-4 col-xs-12 text-left best-buy">
                <!--div class="item price-3 col-md-4 col-sm-6 col-xs-12 text-center best-buy"-->
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Proyecto  Mentorías</h3>

                            <p class="price-figure">Dicho proyecto consiste en identificar estudiantes mexicanos de secundaria y preparatoria con deseos de continuar sus estudios universitarios pero que no están seguros o no conocen como aplicar y/o como conseguir recursos para ingresar a las univesridades publicas o comunitarias de nuestra región en Carolina del Norte.</p>
                            </p>
                        </div>
                        <div class="content">
                            <p>A partir del 2018 el capítulo Raleigh inició una estrecha relación con el <i><span style="font-weight: italic;"><a href="https://ncsli.unc.edu/es/" target="_blank">North Carolina Scholars’ Latino Initiative (N.C. Sli)</a></span></i> para colaborar como voluntarios en los diferentes eventos que N.C. Sli organiza con el fin de facilitar acceso a las oportunidades de participación educativa, profesional y cívica para la próxima generación de líderes latinos en Carolina del Norte.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/mentorias">Ver mas</a>
                        </div>
                        <!--//content-->
                        <!--<div class="ribbon">
                            <div class="text">Popular</div>
                        </div>//ribbon-->
                    </div>
                    <!--//item-inner-->
                <!--/div-->
                </div>
                <div id="column4" style="float:left; margin:0; width:20%;" class="item price-1 col-md-6 col-sm-4 col-xs-12 text-left best-buy">
                <!--div class="item price-3 col-md-4 col-sm-6 col-xs-12 text-center best-buy"-->
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Beca Red Global-NCSHP</h3>

                             <p class="price-figure">La Red Global MX capítulo Raleigh se enorgullece en patrocinar en colaboración con la <a href="http://thencshp.org/" target="_blank">Sociedad de Profesionistas Hispanos de Carolina del Norte (NCSHP)</a> una beca monetaria para un estudiante de preparatoria mexicano con deseos de continuar sus estudios universitarios.</p>
                            </p>
                        </div>
                        <div class="content">
                            <p>Dicha beca consiste en la cantidad de 1,000 dólares que la Red Global MX capítulo Raleigh entrega a la Sociedad de Profesionistas Hispanos de NC para que ésta la canalice a través del "<a href="http://thencshp.org/programs/nc-hispanic-college-fund/" target="_blank">North Carolina Hispanic College Fund"</a> y sea entregada a un estudiante mexicano para el ciclo escolar 2019-2020.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/becared-ncshp">Ver mas</a>
                        </div>
                        <!--//content-->
                        <!--<div class="ribbon">
                            <div class="text">Popular</div>
                        </div>//ribbon-->
                    </div>
                    <!--//item-inner-->
                <!--/div-->
                </div>
                <div id="column5" style="float:left; margin:0; width:20%;" class="item price-1 col-md-6 col-sm-4 col-xs-12 text-left best-buy">
                <!--div class="item price-3 col-md-4 col-sm-6 col-xs-12 text-center best-buy"-->
                    <div class="item-inner">
                        <div class="heading">
                            <h3>Proyecto Ciudades Hermanas</h3>

                             <p class="price-figure">El Proyecto de la Red Global de “Ciudades Hermanas” se encuentra buscando el hermanamiento entre el Municipio de Celaya, Guanajuato, México y la Ciudad de Durham en Carolina del Norte.</p>
                            </p>
                        </div>
                        <div class="content">
                            <p>La Red Global MX capítulo Raleigh respondiendo a una invitacion del Comité de Ciudades Hermanas de la Ciudad de Durham, Carolina del Norte, inicio un acercamiento con autoridades y organizaciones civiles de la ciudad de Celaya, Guanajuato para lograr que dicha ciudad mexicana sea la sexta ciudad hermana de Durham.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/ciudadeshermanas">Ver mas</a>
                        </div>
                        <!--//content-->
                        <!--<div class="ribbon">
                            <div class="text">Popular</div>
                        </div>//ribbon-->
                    </div>
                    <!--//item-inner-->
                <!--/div-->
                </div>                
                <!--div id="column4" style="float:left; margin:0; width:25%;" class="item price-1 col-md-6 col-sm-4 col-xs-12 text-center best-buy"-->
                <!--div class="item price-3 col-md-4 col-sm-6 col-xs-12 text-center best-buy"-->
                    <!--div class="item-inner">
                        <div class="heading">
                            <h3>Ciencias, Tecnología e Innovación</h3>

                            <p class="price-figure">
                                <span class="price-figure-inner"><span>
                            </p>
                        </div>
                        <div class="content">
                            <p>Este pilar tiene por objetivo promover, exponer y difundir las diferentes disciplinas de
                                tecnología y las ciencias exactas (matemáticas, ingeniería, ciencias naturales, etc)
                                mediante el enlace de actividades o expertos altamente calificados y la población
                                mexicana residente principalmente en Carolina del Norte.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/ciencias">Ver mas</a>
                        </div>
                    </div>
                </div-->
                <!--//item-->
                <!--div id="column5" style="float:left; margin:0; width:25%;" class="item price-1 col-md-6 col-sm-4 col-xs-12 text-center best-buy"-->
                <!--div class="item price-4 col-md-4 col-sm-6 col-xs-12 text-center best-buy"-->
                    <!--div class="item-inner">
                        <div class="heading">
                            <h3>Enlace Social</h3>
                        </div>
                        <div class="content">
                            <p>Como miembros de la Red Global de Talentos Mexicanos Raleigh, tenemos el corazón en
                                nuestros orígenes, la pasión por continuar fortaleciendo el crecimiento y promoción de
                                nuestra cultura y el orgullo de ser parte de la comunidad hispana en los Estados Unidos
                                de América. El trabajo arduo de años y la tenacidad incansable de muchos de nosotros nos
                                ha colocado en una posición líder estratégica para ayudar, enriquecer y crear planes que
                                promuevan el crecimiento de México desde el extranjero. Es importante para nosotros
                                mostrar la otra cara de la migración. Queremos fomentar el reconocimiento de la
                                capacidad mexicana e impulsar la visión positiva de México a nivel mundial. </p>
                            <a class="btn btn-cta btn-cta-primary" href="#/enlacesocial">Ver mas</a>
                        </div>
                    </div>
                </div-->
                <!--//item-->

            <!--/div-->
            </div>
            <!--//items-wrapper-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section><!--//pricing-->


<!-- ******CTA Section****** -->
<section id="cta-section" class="section cta-section text-center pricing-cta-section">
    <div class="container">
        <!--<h2 class="title">More than <span class="counting">300,000</span> users are using Velocity</h2>-->

        <!--<p class="intro">What are you waiting for?</p>-->

        <!--<p><a class="btn btn-cta btn-cta-primary"-->
              <!--href="https://wrapbootstrap.com/theme/velocity-designed-for-products-WB0N38R04" target="_blank">Get-->
            <!--Velocity Now</a></p>-->
    </div>
    <!--//container-->
</section><!--//cta-section-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>
