<div class="headline-bg pricing-headline-bg">
</div><!--//headline-bg-->

<!-- ******Pricing Section****** -->
<section class="pricing section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Pilares de trabajo</h2>

        <p class="intro text-center">Los proyectos son los que sustentan nuestor ejes de trabajo</p>

        <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="item price-1 col-md-6 col-sm-6 col-xs-12 text-center best-buy">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title">Ciencias, Tecnología e Innovación</h3>

                            <!--<p class="price-figure"><span class="price-figure-inner"><span-->
                                    <!--class="number">Objetivo</span></span></p>-->
                        </div>
                        <div class="content">
                            <p>Este pilar tiene por objetivo promover, exponer y difundir las diferentes disciplinas de
                                tecnología y las ciencias exactas (matemáticas, ingeniería, ciencias naturales, etc)
                                mediante el enlace de actividades o expertos altamente calificados y la población
                                mexicana residente principalmente en Carolina del Norte.</p>
                            <a class="btn btn-cta btn-cta-primary" href="#/ciencias">Ver mas</a>
                        </div>
                        <!--//content-->
                        <!--<div class="ribbon">
                            <div class="text">Popular</div>
                        </div>//ribbon-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item price-2 col-md-6 col-sm-6 col-xs-12 text-center best-buy">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title">Enlace Social</h3>
                        </div>
                        <div class="content">
                            <p>Como miembros de la Red Global de Talentos Mexicanos Raleigh, tenemos el corazón en
                                nuestros orígenes, la pasión por continuar fortaleciendo el crecimiento y promoción de
                                nuestra cultura y el orgullo de ser parte de la comunidad hispana en los Estados Unidos
                                de América. El trabajo arduo de años y la tenacidad incansable de muchos de nosotros nos
                                ha colocado en una posición líder estratégica para ayudar, enriquecer y crear planes que
                                promuevan el crecimiento de México desde el extranjero. Es importante para nosotros
                                mostrar la otra cara de la migración. Queremos fomentar el reconocimiento de la
                                capacidad mexicana e impulsar la visión positiva de México a nivel mundial. </p>
                            <a class="btn btn-cta btn-cta-primary" href="#/enlacesocial">Ver mas</a>
                        </div>
                        <!--//content-->
                        <!--<div class="ribbon">
                            <div class="text">Popular</div>
                        </div>//ribbon-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

            </div>
            <!--//items-wrapper-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section><!--//pricing-->


<!-- ******CTA Section****** -->
<section id="cta-section" class="section cta-section text-center pricing-cta-section">
    <div class="container">
        <!--<h2 class="title">More than <span class="counting">300,000</span> users are using Velocity</h2>-->

        <!--<p class="intro">What are you waiting for?</p>-->

        <!--<p><a class="btn btn-cta btn-cta-primary"-->
              <!--href="https://wrapbootstrap.com/theme/velocity-designed-for-products-WB0N38R04" target="_blank">Get-->
            <!--Velocity Now</a></p>-->
    </div>
    <!--//container-->
</section><!--//cta-section-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>
