<!-- ******BLOG****** -->
<div class="blog-entry-wrapper">
    <!--
    <div class="blog-headline-bg">
    </div>//blog-headline-bg-->
    <div class="blog-entry">
        <article class="post">
            <header class="blog-entry-heading archivo">
                <div class="container text-center">
                    <h2 class="title">Día de la Ciencia y la Tecnología</h2>

                    <div class="meta">
                        <ul class="meta-list list-inline">
                            <li class="post-time">El sábado 14 de mayo a las 10 a.m.</li>
                            <li class="post-author">en el <a href="http://consulmex.sre.gob.mx/raleigh/">Consulado
                                Mexicano en Raleigh</a></li>
                        </ul>
                        <!--//meta-list-->
                    </div>
                    <!--meta-->
                </div>
                <!--//container-->
            </header>
            <!--//blog-entry-heading-->

            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <p>El pasado 14 de mayo se llevó a cabo el primer "Día de la Ciencia y la Tecnología" en el Consulado de
                            Raleigh, Carolina del Norte. En este evento, los niños y adultos de todas las edades tuvieron no
                            solo la oportunidad de aprender cosas interesantes a través de diversos experimentos y actividades
                            sencillas, sino que además pudieron interactuar con varios expertos mexicanos que les motivaron a
                            seguir adelante en sus estudios y a considerar una carrera en las ramas de las Ciencias y la Tecnología.</p>

                        <p>Es importante destacar la calidad, diversidad y nivel de conocimiento de los expositores que asistieron al
                            evento y que representaban una amplia variedad de perfiles, que iban desde el industrial hasta el académico.
                            Para este evento se contó con la participación de Bayer, la Universidad de Carolina del Norte - Chapel Hill,
                            la Universidad Estatal de Carolina del Norte (UNC-Chapel Hill y NCSU por sus siglas en ingles respectivamente)
                            y la organización Science Magnified.</p>

                        <img class="img-responsive" src="assets/images/diadelaciencia/oscarYvoluntarios.png" align="right"
                             alt= "Oscar con unos de los voluntarios"/>

                        <p> El <a href="#/socio/8">Dr. Oscar Pérez Ovilla</a>, integrante de la RED MX Capítulo Raleigh, junto con otros voluntarios de la
                            división Crop Science de Bayer participaron con una serie de experimentos interactivos que tenían por objetivo
                            explicar algunos conceptos físicos y químicos como la densidad, la formación de polímeros, la cromatografía en
                            papel, las leyes de Newton y la presión de los gases. Estos experimentos forman parte de un programa de Bayer
                            llamado <a style="color:mediumblue;" href="http://www.msms.bayer.us/msms/msms_home.aspx" target="_blank">Making Science Make Sense</a>
                            <!-- no se que color usaste para los links de los miembros pero si quieres cambiar est y el de la entrevista (mas tarde) para que sean del mismo color -->
                            (Hacer Ciencia Tiene Sentido) cuyo principal objetivo es aumentar los conocimientos científicos a través del aprendizaje
                            práctico basado en la investigación científica.</p>

                        <p>Durante la entrevista ofrecida al La Conexión,<!--no tengo el enlace de la entrevista para ponerla aqui--> Oscar expresó que este tipo de eventos busca despertar el
                            interés de los niños hacia las áreas de ciencias, matemáticas y tecnología (STEM, por sus siglas en inglés)
                            ya que se espera que en el futuro haya mucha demanda (de las áreas STEM), y en Estados Unidos no hay
                            suficientes recursos humanos para satisfacer esa demanda, por lo que se tiene que trabajar desde ahora en
                            la formación de nuevos talentos.</p>

                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/diadelaciencia/DiaDeLaCiencia.jpg"
                                 alt="Collage de varias fotos del evento"/>
                        </figure>
                        <p> La <a href="#/socio/7">Dra. Carolina Vera</a>, integrante también de la RED MX Capítulo Raleigh, lideró al grupo
                            de expertos, estudiante y voluntarios de La Escuela de Odontología de la Universidad de Carolina
                            del Norte - Chapel Hill, quienes mostraron a través de varias actividades la importancia del
                            cuidado bucal por medio de las ciencias biomédicas. En entrevista para el periódico local
                            “QuePasa”, la Dra. Vera comentó “Queremos que los chicos se inspiren en las ciencias, que las
                            vean de una forma divertida, les explicamos que es lo que hace un dentista, un doctor, los vestimos
                            de médicos, les enseñamos a cuidar sus dientes, tratamos de que vean las ciencias desde un punto de
                            vista diferente”. Ver la nota completa <a style="color:blue;" href="http://raleigh.quepasanoticias.com/noticias/ciudad/local/asombrados-por-la-ciencia" target="_blank">aqui</a>.
                        </p>

                        <p>Por su parte, la Dra. Ivonne Chirino, integrante de la RED MX Capítulo Raleigh, atrajo la atención
                            de grandes y pequeños con sus experimentos. Asi pues, los niños tuvieron la oportunidad de experimentar
                            como conectar el mundo digital de la computadora con el mundo real a través del uso de circuitos
                            eléctricos utilizando circuitos eléctricos y frutas, con lo cual se demostraban algunos principios
                            de conectividad de materiales y programación accesibles para los niños. En un segundo experimento,
                            <img class="img-responsive" src="assets/images/diadelaciencia/ivonneYfamilia.png" alt="Ivonne con su familia" align="right"/>
                            los niños tuvieron la oportunidad de poner en práctica algunos principios de ingeniería electrónica
                            mediante la creación de alarmas o lámparas pequeñas a través de sensores.  Cabe destacar que buena
                            parte de los experimentos fueron facilitados por los mismos niños.
                        </p>

                        <p>
                            Finalmente, la organización Science Magnified mostró una serie de experimentos muy creativos y
                            llamativos en los que los niños podían ver y tocar las diferentes reacciones químicas que producían
                            gases y burbujas con hielo seco.
                        </p>

                        <p>
                            Al final de las dos horas de duración del evento, se tuvo una asistencia de por lo menos 50
                            niños más los padres y curiosos que tuvieron la oportunidad de disfrutar de este exitoso primer
                            evento organizado en conjunto entre la RED Global MX Capítulo Raleigh y dicho Consulado.
                        </p>


                    </div>
                    <!--//blog-entry-content-->

                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </article>
        <!--//post-->
    </div>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>