<!-- ******BLOG****** -->
<div class="blog-entry-wrapper">
    <!--
    <div class="blog-headline-bg">
    </div><!--//blog-headline-bg-->
    <div class="blog-entry">
        <article class="post">
            <header class="blog-entry-heading bilinguismo">
                <div class="container text-center">
                    <h2 class="title">Proyecto Bilingüismo 2018</h2>

                    <div class="meta">
                        <ul class="meta-list list-inline">
                            <li class="post-time">Definición:</li>
                            <li class="post-author">
                                <a href="http://www.unavarra.es/tel2l/es/bilinged.htm">De manera general, el bilingüismo consiste en la habilidad para expresarse en dos lenguas.
                                </a>
                            </li>
                        </ul>
                        <!--//meta-list-->
                    </div>
                    <!--meta-->
                </div>
                <!--//container-->
            </header>
            <!--//blog-entry-heading-->

            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-12 col-sm-6 col-xs-12">
                        <h3 class="section-heading">Definición:</h3>

                        <p>De manera general, el bilingüismo consiste en la habilidad para expresarse en dos
                            lenguas.
                        </p>

                        <h3 class="section-heading">OBJETIVOS</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">

                        <ol style="font-weight: bold;">
                            <li> <span style="font-weight:normal">Dar a conocer la importancia de desarrollar la capacidad de ser bilingüe (o plurilingüe) como una herramienta para fortalecer las capacidades cognitivas del cerebro y la salud mental. Algunas referencias: </span>
                            </li>
                            <ul>
                                <li> <span style="font-weight:normal">Según el </span><a href="https://www.actfl.org" target="_blank">Consejo Americano de la Enseñanza de Idiomas Extranjeros</a> (ACTFL <span style="font-weight:normal">por sus siglas del inglés: American Council On The Teaching Of Foreign Languages), numerosos estudios de investigación han identificado tres áreas de beneficio importantes:
                                    <ul>
                                        <li>
                                            <a href="https://www.actfl.org/advocacy/what-the-research-shows#academic_achievement" target="_blank"><i class="fa fa-external-link"></i>  Mejoras en el desempeño académico general del estudiante </a>
                                        </li>
                                        <li>
                                            <a href="https://www.actfl.org/advocacy/what-the-research-shows#cognitive" target="_blank"><i class="fa fa-external-link"></i>  Incremento en las habilidades cognitivas (de aprendizaje) del estudiante</a>
                                        </li>
                                        <li>
                                            <a href="https://www.actfl.org/advocacy/what-the-research-shows#attitudes" target="_blank"><i class="fa fa-external-link"></i>  Despertar el interés respecto a conocer otras culturas (diversidad)</a>
                                        </li>
                                    </ul>
                                    <!--blockquote><i>"Numerosos estudios han demonstrado los beneficios de aprender un
                                        segundo idioma, no
                                        solamente respecto a las habilidades lingüísticas del estudiante sino respecto a
                                        sus
                                        habilidades cognitivas y creativas también".</i>
                                    </blockquote-->
                                    <!--p class="source"><a
                                            href="http://www.actfl.org/advocacy/discover-languages/for-parents/cognitive" target="_blank"><i class="fa fa-external-link"></i> (http://www.actfl.org/advocacy/discover-languages/for-parents/cognitive)</a>
                                    </p-->
                                </li>
                                <!--li>El Programa de Identificación de Talento de Duke (Duke TIP por sus siglas del
                                    inglés: ©Duke Talent Identification Program) entrevistó a varios expertos en la
                                    materia sobre las ventajas para los niños en aprender un idioma extranjero.
                                    <p class="source"><a href="http://tip.duke.edu/node/866" target="_blank"><i class="fa fa-external-link"></i> (http://tip.duke.edu/node/866)</a></p>
                                </li-->
                                <li>
                                <p class="source"><i><span style="font-weight:normal">"Los cerebros bilingües retrasan los efectos del envejecimiento, incluyendo la aparición del Alzheimer".
                                </i><br/>
                                <span class="name"><span style="font-weight:normal">Ellen Bialystok, Psicólogo</span></span>
                                <br/>
                                <span class="title">
                                    <a href="http://www.nationalgeographic.es/noticias/ciencia/salud-y-cuerpo-humano/estudio-alzheimer-idiomas"
                                    target="_blank">
                                    <i class="fa fa-external-link"></i>
                                     <span style="font-weight:normal">Universidad de York en Toronto, Canadá</span></a>
                                </span></p>
                                </li>
                                <!--blockquote class="quote-content quote-content">
                                 <p class="source">
                                    <i>"Los cerebros bilingües retrasan los efectos del
                                        envejecimiento, incluyendo la aparición del Alzheimer".
                                    </i>
                                    <br/>
                                <span class="name">Ellen Bialystok, Psicólogo</span><br/>
                                <span class="title">
                                    <a href="http://www.nationalgeographic.es/noticias/ciencia/salud-y-cuerpo-humano/estudio-alzheimer-idiomas"
                                    target="_blank">
                                    <i class="fa fa-external-link"></i>
                                    Universidad de York en Toronto, Canadá</a>
                                </span></p>
                                </blockquote-->
                                 <li> <span style="font-weight:normal">La misión de la</span> 
                                    <a href="https://www.nnell.org" target="_blank">Red Nacional para el Aprendizaje de un Idioma</a> (NNELL <span style="font-weight:normal">por sus siglas del inglés: National Network for Early Language Learning) es liderar y promover el aprendizaje de un idioma extranjero en los Estados Unidos (<a href="https://www.nnell.org/" target="_blank">https://www.nnell.org/</a>)</span>
                                </li>
                            </ul>
                        </ol>
                    </div>
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <!--blockquote class="quote-content quote-content">
                            <p class="source"><i>"Los cerebros bilingües retrasan los efectos del
                                envejecimiento, incluyendo la aparición del Alzheimer".</i>
                                <br/><span class="name">Ellen Bialystok, Psicólogo</span><br/>
                                <span class="title"><a
                                        href="http://www.nationalgeographic.es/noticias/ciencia/salud-y-cuerpo-humano/estudio-alzheimer-idiomas"
                                        target="_blank"><i class="fa fa-external-link"></i> Universidad de York en
                                    Toronto, Canadá</a></span></p>
                        </blockquote-->
                        <!--li>La misión de la Red Nacional para el Aprendizaje de un Idioma (NNELL por sus siglas del inglés: National Network for Early Language Learning) es liderar y promover el aprendizaje de un idioma extranjero en los Estados Unidos (<a href="https://www.nnell.org/">https://www.nnell.org/)</a>
                        </li-->
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/bilinguismo/bilinguismo_objetivo1.png"
                            alt="Meaow"/>
                            <figcaption class="figure-caption">Meow!</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/bilinguismo/bilinguismo_objetivo2.png"
                                 alt="Traductor no functiona"/>
                            <figcaption class="figure-caption">Traductor no functiona</figcaption>
                        </figure>
                    </div><!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">

                        <ol style="font-weight: bold;" start="2">

                            <li> <span style="font-weight:normal">Resaltar las condiciones demográfico/económicas que permiten que existan mejores oportunidades de trabajo para las personas bilingües (Inglés/Español) en los Estadous Unidos de América.</span>
                            </li>
                            <ul>
                                <span style="font-weight:normal">
                                <li>Según la Oficina de Censo de los Estados Unidos (US Census Bureau), en 2014 la población estimada de hispanos en el país era de alrededor de 54.3 millones de personas. Esa cifra representa el 17.3% del total de la población del país hasta el año 2014. La población hispana creció en 15.2 millones (43%) entre el año 2000 y 2010.
                                </li>
                                <li>La Agencia Central de Inteligencia de los Estados Unidos (US Central Intelligence Agency) reportó en Febrero del año 2018 que el español fue el segundo idioma más hablado en el mundo (5.8%) solamente atrás del Mandarín (12.2%). El inglés le siguió en tercer lugar (4.6%).
                                </li>
                                <li>El poder de compra de los hispanos en los Estados Unidos se estimó en $1.4 trillones de dólares (1.4x10<sup>12</sup>) en el año 2016 de acuerdo al Centro Selig para Crecimiento Económico de la Escuela Terry de Negocios de la Universidad de Georgia (Selig Center for Economic Growth at the University of Georgia’s Terry College of Business). Esto representa el 10% del poder de compra de todos los Estados Unidos de América, es mayor que el Producto Interno Bruto (PIB) de México (Gross Domestic Product – GDP) y más grande que todas las economías del mundo con excepción de 14 países.
                                </li>
                                </span>
                            </ul>
                        </ol>
                    </div><!--//blog-entry-content-->
                </div><!--//row-->
                <div class="row">
                    <div class="blog-entry-content col-md-12 col-sm-6 col-xs-12">

                        <ol start="3" style="font-weight: bold;">
                            <li> <span style="font-weight: normal;">Promover los valores y el orgullo de la cultura hispana en Raleigh a través de mantener la práctica del idioma Español.
                            </li></span>
                            <ul>
                                <span style="font-weight:normal">
                                <li>El Centro de Investigación Pew (Pew Research Center) en los Estados Unidos de América realiza diversos estudios de interés público, entre ellos el proceso de integración de la población hispana en este país.
                                    <ul>
                                        <li>
                                            <a href="http://www.pewhispanic.org/2017/12/20/hispanic-identity-fades-across-generations-as-immigrant-connections-fall-away/" target="_blank"><i class="fa fa-external-link"></i>  Hispanic Identity Fades Across Generations as Immigrant Connections Fall Away</a>
                                        </li>
                                        <li>
                                            <a href="http://www.pewhispanic.org/2009/12/11/between-two-worlds-how-young-latinos-come-of-age-in-america/" target="_blank"><i class="fa fa-external-link"></i>  Between Two Worlds: How Young Latinos Come of Age in America</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                Bolsa de trabajo con empleos que requieren hablar Español:
                                    <ul>
                                    <li>
                                        <a href="https://busquedalocal.univision.com/es/raleigh-nc/empleos/all/" target="_blank"><i class="fa fa-external-link"></i>  Univision - Encuentra empleos cerca de Raleigh, NC</a>
                                    </li>
                                    <li>
                                        Ejemplos:
                                        <ul>
                                        <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                                            <li>Profesional Médico</li>
                                            <li>Consultor Legal</li>
                                            <li>Desarrollo de "Software"</li>
                                            <li>Sector Turístico</li>
                                        </div>
                                        <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                                            <li>Asesor Financiero/Fiscal</li>
                                            <li>Profesional en Educación</li>
                                            <li>Sector Comercial</li>
                                        </div>
                                        </ul>
                                    </li>
                                    </ul>
                                </li>
                                </span>
                            </ul>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-entry-content col-md-12 col-sm-6 col-xs-12">
                        <h3 class="section-heading">ACTIVIDADES:</h3>

                        <!--p>Información disponible y personal capacitado durante:
                        </p-->
                        <!--ol>
                            <li>Jornadas sabatinas en el Consulado
                            </li>
                            <li>Ciertas horas en el horario regular del Consulado Mexicano (con personal de voluntariado
                                autorizado por el Consulado)

                            </li>
                            <li>Fiesta del Pueblo,
                                domingo 25 de septiembre del 2016 en el centro de Raleigh
                            </li>
                            <li>Festival Internacional de Raleigh,
                                del viernes 14 al domingo 16 de octubre del 2016 en el Raleigh Convention Center
                            </li>
                        </ol-->
                        <ol>
                            <li>Dos segmentos de Bilingüismo grabados en el programa <a href="https://www.fox50.com/holanc/" target="_blank">“Hola NC” Fox50.</a>
                            </li>
                            <li>Conferencia de Bilingüismo en los eventos de la feria "Mi Éxito, la Universidad“ con la Sociedad de Profesionales Hispanos de Carolina del Norte (<a href="https://thencshp.org/en-espanol/" target="_blank">NC Society of Hispanic Professionals – NCSHP</a>)

                                <ul>
                                    <li>Sábado 5 de Noviembre de 2016 - Alfonso Elder Student Union at NCCU, Durham</li>
                                    <li>Sábado 18 de Noviembre de 2017 - Alfonso Elder Student Union at NCCU, Durham</li>
                                    <li><span style="font-weight:bold">Programado: Noviembre de 2018</span></li>
                                </ul>
                            </li>
                            <li>Conferencia de Bilingüismo en el <a href="https://thencshp.org/programs/hispanic-educational-summit/" target="_blank">Hispanic Educational Summit</a>
                                <ul>
                                    <li>Viernes 31 de Marzo de 2017 - <a href="https://www.google.com/maps?hl=es&q=McKimmon+Center+at+NC+State.+&source=calendar" target="_blank">McKimmon Center de NC State</a></li>
                                    <li><span style="font-weight:bold">Programado: Viernes 23 de Marzo de 2018</span> - <a href="https://www.google.com/maps?hl=es&q=McKimmon+Center+at+NC+State.+&source=calendar" target="_blank">McKimmon Center de NC State</a></li>
                                </ul>
                            </li>
                            <li>Posibilidad de integrarse a la <a href="https://consulmex.sre.gob.mx/raleigh/index.php#popup" target="_blank">“Ventanilla de Educación”</a> en el consulado de México en Raleigh.
                            </li>
                        </ol>
                    </div><!--//blog-entry-->
                </div><!--//row-->
            </div><!--//container-->
        </article><!--//post-->
    </div>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>