<!-- ******BLOG****** -->
<div class="blog-entry-wrapper">
    <!--
    <div class="blog-headline-bg">
    </div><!--//blog-headline-bg-->
    <div class="blog-entry">
        <article class="post">
            <header class="blog-entry-heading bilinguismo">
                <div class="container text-center">
                    <h2 class="title">Proyecto Bilingüismo 2016</h2>

                    <div class="meta">
                        <ul class="meta-list list-inline">
                            <li class="post-time">Definición:</li>
                            <li class="post-author">
                                <a href="http://www.unavarra.es/tel2l/es/bilinged.htm">De manera general, el bilingüismo
                                    consiste en la habilidad para expresarse en dos lenguas.</a></li>
                        </ul>
                        <!--//meta-list-->
                    </div>
                    <!--meta-->
                </div>
                <!--//container-->
            </header>
            <!--//blog-entry-heading-->

            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-12 col-sm-6 col-xs-12">
                        <h3 class="section-heading">Definición:</h3>

                        <p>De manera general, el bilingüismo consiste en la habilidad para expresarse en dos
                            lenguas.</p>

                        <h3 class="section-heading">OBJETIVOS</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">

                        <ol>
                            <li>Dar a conocer la importancia de desarrollar una habilidad bilingüe (o plurilingüe en
                                general) como un mecanismo de fortalecer las capacidades cognitivas del cerebro.
                            </li>
                            <ul>
                                <li>Según el Consejo Americano de la Enseñanza de Idiomas Extranjeros (ACTFL por sus
                                    siglas del inglés: American Council On The Teaching Of Foreign Languages) ,
                                    <blockquote><i>"Numerosos estudios han demonstrado los beneficios de aprender un
                                        segundo idioma, no
                                        solamente respecto a las habilidades lingüísticas del estudiante sino respecto a
                                        sus
                                        habilidades cognitivas y creativas también".</i>
                                    </blockquote>
                                    <p class="source"><a
                                            href="http://www.actfl.org/advocacy/discover-languages/for-parents/cognitive" target="_blank"><i class="fa fa-external-link"></i> (http://www.actfl.org/advocacy/discover-languages/for-parents/cognitive)</a>
                                    </p>
                                </li>
                                <li>El Programa de Identificación de Talento de Duke (Duke TIP por sus siglas del
                                    inglés: ©Duke Talent Identification Program) entrevistó a varios expertos en la
                                    materia sobre las ventajas para los niños en aprender un idioma extranjero.
                                    <p class="source"><a href="http://tip.duke.edu/node/866" target="_blank"><i class="fa fa-external-link"></i> (http://tip.duke.edu/node/866)</a></p>
                                </li>
                                <li>La misión de la Red Nacional para el Aprendizaje de un Idioma (NNELL por sus siglas
                                    del inglés: National Network for Early Language Learning) es liderar y promover el
                                    aprendizaje de un idioma extranjero en los Estados Unidos (http://www.nnell.org/)
                                </li>
                            </ul>
                        </ol>
                    </div>
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <blockquote class="quote-content quote-content">
                            <p class="source"><i>"Los cerebros bilingües retrasan los efectos del
                                envejecimiento, incluyendo la aparición del Alzheimer".</i>
                                <br/><span class="name">Ellen Bialystok, Psicólogo</span><br/>
                                <span class="title"><a
                                        href="http://www.nationalgeographic.es/noticias/ciencia/salud-y-cuerpo-humano/estudio-alzheimer-idiomas"
                                        target="_blank"><i class="fa fa-external-link"></i> Universidad de York en
                                    Toronto, Canadá</a></span></p>
                        </blockquote>
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/bilinguismo/bilinguismo_objetivo1.png"
                                 alt="Meaow"/>
                            <figcaption class="figure-caption">Meow!</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/bilinguismo/bilinguismo_objetivo2.png"
                                 alt="Traductor no functiona"/>
                            <figcaption class="figure-caption">Traductor no functiona</figcaption>
                        </figure>
                    </div><!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">

                        <ol start="2">

                            <li>Promover los valores y el orgullo de la cultura hispana en Raleigh a través de reconocer
                                la importancia de hablar el idioma español.
                            </li>
                            <ul>
                                <li>Según la Oficina de Censo de los Estados Unidos (US Census Bureau), en 2010 la
                                    población estimada de hispanos en el país era de alrededor de 50.5 millones de
                                    personas. Esa cifra representa el 16% del total de la población del país hasta el
                                    1o. de abril de 2010. La población hispana creció en 15.2 millones (43%) entre el
                                    año 2000 y 2010.

                                </li>
                                <li>La Agencia Central de Inteligencia de los Estados Unidos (US Central Intelligence
                                    Agency) reportó en el año 2009 que el español fue el segundo idioma más hablado en
                                    el mundo (4.85%) solamente atrás del Mandarín (12.44%). El inglés le siguió muy de
                                    cerca en tercer lugar (4.83%).

                                </li>
                                <li>El poder de compra de los hispanos en los Estados Unidos se estimó en $1.5 trillones
                                    de dólares (1.5x1012) en el año 2015 de acuerdo al Centro Selig para Crecimiento
                                    Económico de la Escuela Terry de Negocios de la Universidad de Georgia (Selig Center
                                    for Economic Growth at the University of Georgia’s Terry College of Business).

                                </li>
                            </ul>
                        </ol>

                    </div><!--//blog-entry-content-->
                </div><!--//row-->
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <h3 class="section-heading">ACTIVIDADES:</h3>

                        <p>Información disponible y personal capacitado durante:
                        </p>
                        <ol>
                            <li>Jornadas sabatinas en el Consulado
                            </li>
                            <li>Ciertas horas en el horario regular del Consulado Mexicano (con personal de voluntariado
                                autorizado por el Consulado)

                            </li>
                            <li>Fiesta del Pueblo,
                                domingo 25 de septiembre del 2016 en el centro de Raleigh
                            </li>
                            <li>Festival Internacional de Raleigh,
                                del viernes 14 al domingo 16 de octubre del 2016 en el Raleigh Convention Center
                            </li>
                        </ol>
                    </div><!--//blog-entry-->
                </div><!--//row-->
            </div><!--//container-->
        </article><!--//post-->
    </div>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>