<!-- ******BLOG****** -->
<div class="blog-entry-wrapper">
    <!--
    <div class="blog-headline-bg">
    </div><!--//blog-headline-bg-->
    <div class="blog-entry">
        <article class="post">
            <header class="blog-entry-heading diadelaciencia">
                <div class="container text-center">
                    <h2 class="title">Día de la Ciencia y la Tecnología <i>¡Estás invitado!</i></h2>

                    <div class="meta">
                        <ul class="meta-list list-inline">
                            <li class="post-time">El sábado 14 de mayo a las 10 a.m.</li>
                            <li class="post-author">en el <a href="http://consulmex.sre.gob.mx/raleigh/">Consulado
                                Mexicano en Raleigh</a></li>
                        </ul>
                        <!--//meta-list-->
                    </div>
                    <!--meta-->
                </div>
                <!--//container-->
            </header>
            <!--//blog-entry-heading-->

            <div class="container">
                <div class="row">
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <p>El sábado 14 de mayo a las 10 a.m., la RED globalMX capítulo Raleigh, en coordinación con el
                            Consulado General de México en Raleigh llevarán a cabo el primer Día de la Ciencia y la
                            Tecnología. Este evento tiene la finalidad de que los niños puedan interactuar, a través de
                            diversas actividades, con expertos de varias disciplinas en el ramo de las ciencias de la
                            computación, agrícolas, médicas y del aprendizaje.
                            Entre los expertos a este evento se encuentran:</p>

                        <h3 class="section-heading"><a href="#/socio/7">La Dra. Carolina Vera.</a></h3>

                        <p>Profesora e investigadora de la Universidad de Carolina del Norte Chapel-Hill, interactuará
                            con los niños de una manera fácil y divertida para que entiendan la importancia de las
                            ciencias en el campo de la medicina y la odontología.</li></p>

                        <h3 class="section-heading"><a href="#/socio/4">El Ing. Jorge Ramos.</a></h3>

                        <p>Gerente de Aplicaciones de IBM, interactuará con los niños para que desarrollen apps y otros
                            programas de relevancia en el mundo de la computación moderna.</li></p>

                        <h3 class="section-heading"><a href="https://www.cropscience.bayer.us/">Bayer (Crop
                            Science).</a></h3>

                        <p>Esta compañía líder en productos de protección de cultivos a través de su programa <a
                                href="http://www.msms.bayer.us/MSMS/MSMS_About/About.aspx">Making
                            Science Make Sense (Hacer Ciencia Tiene Sentido)</a>, realizará varios experimentos
                            interactivos. Esta actividad estará coordinada por el <a href="#/socio/8">Dr. Oscar Pérez
                                Ovilla.</a></p>
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/blog/BayerFotos.png"
                                 alt="Niñas haciendo un experimento"/>
                            <figcaption class="figure-caption">Evento pasado. Foto donada por Bayer Crop</figcaption>
                        </figure>

                    </div>
                    <!--//blog-entry-content-->
                    <div class="blog-entry-content col-md-6 col-sm-6 col-xs-12">
                        <figure class="figure">
                            <img class="img-responsive" src="assets/images/diadelaciencia/Dia_de_la_ciencia_p1.png"
                                 alt="Niños haciendo un experimento"/>
                            <figcaption class="figure-caption">Evento pasado. Foto donada por Bayer Crop</figcaption>
                        </figure>
                        <blockquote class="custom-quote">
                            <p><i class="fa fa-quote-left"></i>¿Sabías que varios expertos mexicanos estarán presentes
                                en el Día de la Ciencia y la Tecnología? <i class="fa fa-quote-right"></i> <strong>¡Ven
                                    y conócelos!</strong></p>

                            <p>Para mayores informes contáctanos a:<br/>
                                Correo electrónico: <a href="mcolin@sre.gob.mx">mcolin@sre.gob.mx</a><br/>
                                Teléfono: <a href="tel:+19196153656">9196153656</a></p>
                        </blockquote>
                    </div>
                    <!--//blog-entry-content-->

                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </article>
        <!--//post-->
    </div>
    <!--//blog-entry-->
</div><!--//blog-entry-wrapper-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76976511-1', 'auto');
    ga('send', 'pageview');

</script>




